Repository SpongePowered/SpongeAPI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kashike, @gabizou, @Zidane, @Faithcaio, @minecrell

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/
# please keep this file in the same order as packages

src/main/java/org/spongepowered/api/boss/** @kashike
src/main/java/org/spongepowered/api/command/** @kashike
src/main/java/org/spongepowered/api/data/** @gabizou
src/main/java/org/spongepowered/api/effect/** @gabizou
src/main/java/org/spongepowered/api/entity/** @gabizou
src/main/java/org/spongepowered/api/entity/ai/** @Zidane
src/main/java/org/spongepowered/api/item/inventory/** @Faithcaio
src/main/java/org/spongepowered/api/item/recipe/** @Faithcaio
src/main/java/org/spongepowered/api/profile/** @kashike
src/main/java/org/spongepowered/api/registry/** @gabizou
src/main/java/org/spongepowered/api/text/** @kashike @minecrell
src/main/java/org/spongepowered/api/world/gamerule/** @kashike

Remove method from immutable manipulator so that it is consistent with mutable one (Player already has a method that deals with this)
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableSleepingData.java
Owners: @gabizou

Add GuiIDProperty and GuiId CatalogueType
  src/main/java/org/spongepowered/api/item/inventory/InventoryArchetypes.java
  src/main/java/org/spongepowered/api/item/inventory/property/AbstractInventoryProperty.java
  src/main/java/org/spongepowered/api/item/inventory/property/GuiId.java
  src/main/java/org/spongepowered/api/item/inventory/property/GuiIdProperty.java
  src/main/java/org/spongepowered/api/item/inventory/property/GuiIds.java
Owners: @Faithcaio

Move the Title implementation to SpongeCommon
  src/main/java/org/spongepowered/api/effect/Viewer.java
  src/main/java/org/spongepowered/api/text/title/Title.java
Owners: @gabizou, @kashike, @minecrell

Add clarifications to the clear methods
  src/main/java/org/spongepowered/api/text/title/Title.java
Owners: @kashike, @minecrell

Re-add removed method but deprecate it
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableSleepingData.java
Owners: @gabizou

partially implement equipable (missing canEquip checks) add HeldEquipmentTypes add UserInventory add MainPlayerInventory
  src/main/java/org/spongepowered/api/entity/ArmorEquipable.java
  src/main/java/org/spongepowered/api/item/inventory/entity/MainPlayerInventory.java
  src/main/java/org/spongepowered/api/item/inventory/entity/UserInventory.java
  src/main/java/org/spongepowered/api/item/inventory/equipment/EquipmentTypes.java
  src/main/java/org/spongepowered/api/item/inventory/equipment/HeldEquipmentType.java
  src/main/java/org/spongepowered/api/item/inventory/equipment/WornEquipmentType.java
  src/main/java/org/spongepowered/api/item/inventory/property/ArmorSlotType.java
Owners: @gabizou, @Faithcaio

Add another data manipulator to handle ignoreSleeping()
  src/main/java/org/spongepowered/api/data/key/Keys.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableIgnoreSleepingData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableSleepingData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/entity/IgnoreSleepingData.java
Owners: @gabizou

Fix formatting
  src/main/java/org/spongepowered/api/data/manipulator/mutable/entity/IgnoreSleepingData.java
Owners: @gabizou

Remove resolveForce, no longer applicable
  src/main/java/org/spongepowered/api/text/selector/Selector.java
Owners: @kashike, @minecrell

Use List instead of Set for ordering in Selectors
  src/main/java/org/spongepowered/api/text/selector/Selector.java
Owners: @kashike, @minecrell

Add EventContextKeys.USED_ITEM for context to be used by events that are not guaranteed to have an item stack.
  src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java
Owners: none

Add EventContextKeys.PLUGIN
  src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java
Owners: none

Modify ContextValue for proper usage with event listeners.
  src/main/java/org/spongepowered/api/event/cause/EventContext.java
  src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java
  src/main/java/org/spongepowered/api/event/filter/cause/ContextValue.java
Owners: none

Allow AssetId and ChannelId to be applied to parameters
  src/main/java/org/spongepowered/api/asset/AssetId.java
  src/main/java/org/spongepowered/api/network/ChannelId.java
Owners: none

Add helper methods to StackFrame
  src/main/java/org/spongepowered/api/event/CauseStackManager.java
  src/main/java/org/spongepowered/api/service/SimpleServiceManager.java
  src/test/java/org/spongepowered/api/service/SimpleServiceManagerTest.java
Owners: none

Update Minecraft 1.12.1
  src/main/java/org/spongepowered/api/text/selector/ArgumentTypes.java
  src/main/java/org/spongepowered/api/text/selector/SelectorTypes.java
Owners: @kashike, @minecrell

Add a convenience method to set a transform safely
  src/main/java/org/spongepowered/api/entity/Entity.java
Owners: @gabizou

Make some changes small changes for SizeData implementation
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableSizeData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/entity/SizeData.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Owners: @gabizou
