Repository SpongePowered/SpongeAPI, pull requests merged in 2018-05, with the labels that each got.

#1800 Inventory Transformations
  src/main/java/org/spongepowered/api/item/inventory/Inventory.java
  src/main/java/org/spongepowered/api/item/inventory/InventoryTransformation.java
  src/main/java/org/spongepowered/api/item/inventory/InventoryTransformations.java
Labels: status: input wanted, status: needs review, system: inventory

#1779 Deprecate EventContextKeys#THROWER for removal in API 8
  src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java
Labels: status: ready to merge

#1826 Add Value.copy().
  src/main/java/org/spongepowered/api/data/value/mutable/CollectionValue.java
  src/main/java/org/spongepowered/api/data/value/mutable/MapValue.java
  src/main/java/org/spongepowered/api/data/value/mutable/MutableBoundedValue.java
  src/main/java/org/spongepowered/api/data/value/mutable/OptionalValue.java
  src/main/java/org/spongepowered/api/data/value/mutable/Value.java
Labels: status: ready to merge, system: data, type: enhancement

#1828 add Container#isViewedSlot
  src/main/java/org/spongepowered/api/item/inventory/Container.java
Labels: system: inventory

#1827 Open Inventory with different display name
  src/main/java/org/spongepowered/api/entity/living/player/Player.java
Labels: system: inventory
