Repository SpongePowered/SpongeAPI, pull requests merged in 2018-04, with the labels that each got.

#1786 ItemStackComparators to Implementation
  src/main/java/org/spongepowered/api/item/inventory/ItemStackComparators.java
Labels: status: ready to merge, system: inventory, version: 1.13

#1805 add original and final slot info to ChangeInventoryEvent.Held
  src/main/java/org/spongepowered/api/event/item/inventory/ChangeInventoryEvent.java
Labels: status: ready to merge, system: event, system: inventory

#1737 Adds basic elytra data
  src/main/java/org/spongepowered/api/data/key/Keys.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/entity/ImmutableElytraFlyingData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/entity/ElytraFlyingData.java
Labels: status: ready to merge, system: data, type: enhancement
