Repository SpongePowered/SpongeAPI, pull requests merged in 2019-01, with the labels that each got.

#1945 Fix abstract data inconsistencies and issues.
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableBooleanData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableBoundedComparableData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableListData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableMappedData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableSingleCatalogData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableSingleData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/common/AbstractImmutableSingleEnumData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractBooleanData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractBoundedComparableData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractIntData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractListData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractMappedData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractSingleCatalogData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractSingleData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractSingleEnumData.java
  src/main/java/org/spongepowered/api/util/CollectionUtils.java
Labels: status: needs review, status: needs testing, system: data, version: 1.12

#1952 Consistent catalog builders + move recipe registration
  build.gradle
  src/main/java/org/spongepowered/api/advancement/Advancement.java
  src/main/java/org/spongepowered/api/advancement/AdvancementTree.java
  src/main/java/org/spongepowered/api/data/DataRegistration.java
  src/main/java/org/spongepowered/api/data/key/Key.java
  src/main/java/org/spongepowered/api/event/game/GameRegistryEvent.java
  src/main/java/org/spongepowered/api/item/recipe/Recipe.java
  src/main/java/org/spongepowered/api/item/recipe/RecipeRegistry.java
  src/main/java/org/spongepowered/api/item/recipe/crafting/CraftingRecipe.java
  src/main/java/org/spongepowered/api/item/recipe/crafting/CraftingRecipes.java
  src/main/java/org/spongepowered/api/item/recipe/crafting/ShapedCraftingRecipe.java
  src/main/java/org/spongepowered/api/item/recipe/crafting/ShapelessCraftingRecipe.java
  src/main/java/org/spongepowered/api/item/recipe/smelting/SmeltingRecipe.java
  src/main/java/org/spongepowered/api/registry/AdditionalCatalogRegistryModule.java
  src/main/java/org/spongepowered/api/util/CatalogBuilder.java
Labels: branch: bleeding, status: needs testing, version: 1.13

#1944 Fix NegativeArraySizeException in BlockState.MatcherBuilder.build()
  src/main/java/org/spongepowered/api/block/BlockState.java
Labels: status: needs review, status: needs testing, type: bug

#1955 PotionType API
  build.gradle
  src/main/java/org/spongepowered/api/data/key/Keys.java
  src/main/java/org/spongepowered/api/data/manipulator/catalog/CatalogItemData.java
  src/main/java/org/spongepowered/api/data/manipulator/immutable/ImmutablePotionTypeData.java
  src/main/java/org/spongepowered/api/data/manipulator/mutable/PotionTypeData.java
  src/main/java/org/spongepowered/api/event/cause/entity/damage/DamageModifierTypes.java
  src/main/java/org/spongepowered/api/item/potion/PotionType.java
  src/main/java/org/spongepowered/api/item/potion/PotionTypes.java
  src/main/java/org/spongepowered/api/item/potion/package-info.java
  src/main/java/org/spongepowered/api/text/selector/SelectorTypes.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Labels: status: ready to merge, system: data
