Repository SpongePowered/SpongeAPI, pull requests merged in 2019-07, with the labels that each got.

#2020 ChangeEntityEquipmentEvent.Break
  src/main/java/org/spongepowered/api/event/entity/ChangeEntityEquipmentEvent.java
Labels: status: needs review, system: event, system: inventory

#1755 Add text replacement methods
  src/main/java/org/spongepowered/api/text/Text.java
Labels: status: needs review, status: needs testing, system: text

#2022 Fix PlayerCommandElement autocompletion and enhance CommandArgs
  src/main/java/org/spongepowered/api/command/args/CommandArgs.java
Labels: status: needs review, status: needs testing, type: bug
