Repository SpongePowered/SpongeAPI, pull requests merged in 2020-07, with the labels that each got.

#2134 API8 - DataStore
  src/main/java/org/spongepowered/api/data/persistence/DataStore.java
Labels: version: 1.14

#2096 Remove HandInteractEvent and sub events
  src/main/java/org/spongepowered/api/event/block/InteractBlockEvent.java
  src/main/java/org/spongepowered/api/event/entity/InteractEntityEvent.java
  src/main/java/org/spongepowered/api/event/entity/living/HandInteractEvent.java
  src/main/java/org/spongepowered/api/event/item/inventory/InteractItemEvent.java
Labels: system: event, type: enhancement, version: 1.14

#2143 Remove EconomyService#getCurrencies
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
Labels: system: economy, version: 1.14

#2133 Replace Service Manager with Provider
  src/main/java/org/spongepowered/api/Game.java
  src/main/java/org/spongepowered/api/Sponge.java
  src/main/java/org/spongepowered/api/event/GenericEvent.java
  src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java
  src/main/java/org/spongepowered/api/event/lifecycle/ProvideServiceEvent.java
  src/main/java/org/spongepowered/api/event/service/ChangeServiceProviderEvent.java
  src/main/java/org/spongepowered/api/service/ProvisioningException.java
  src/main/java/org/spongepowered/api/service/ServiceManager.java
  src/main/java/org/spongepowered/api/service/ServiceProvider.java
  src/main/java/org/spongepowered/api/service/ServiceRegistration.java
  src/main/java/org/spongepowered/api/service/context/ContextCalculator.java
  src/main/java/org/spongepowered/api/service/pagination/PaginationList.java
Labels: version: 1.14

#2155 Add view-distance setter
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
Labels: version: 1.14

#2154 Add marker for classes that should not be stored
  src/main/java/org/spongepowered/api/block/entity/BlockEntity.java
  src/main/java/org/spongepowered/api/command/CommandCause.java
  src/main/java/org/spongepowered/api/data/DataHolder.java
  src/main/java/org/spongepowered/api/entity/Entity.java
  src/main/java/org/spongepowered/api/entity/living/player/User.java
  src/main/java/org/spongepowered/api/event/Event.java
  src/main/java/org/spongepowered/api/event/cause/Cause.java
  src/main/java/org/spongepowered/api/event/cause/EventContext.java
  src/main/java/org/spongepowered/api/util/annotation/DoNotStore.java
  src/main/java/org/spongepowered/api/world/World.java
  src/main/java/org/spongepowered/api/world/chunk/Chunk.java
  src/main/java/org/spongepowered/api/world/dimension/Dimension.java
Labels: version: 1.14

#2153 Improve JoinData
  src/main/java/org/spongepowered/api/data/Keys.java
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
Labels: version: 1.14

#2162 Add Keys#TRANSIENT
  src/main/java/org/spongepowered/api/data/Keys.java
Labels: system: data, version: 1.14

#2152 Add a way to get all unique and virtual accounts from the economy service
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
Labels: system: economy, version: 1.14

#2166 Add streamAll method to UserManager
  src/main/java/org/spongepowered/api/user/UserManager.java
Labels: type: enhancement, version: 1.14

#2169 Remove Cause parameters from Account methods
  src/main/java/org/spongepowered/api/service/economy/account/Account.java
Labels: system: economy, version: 1.14

#2167 Make generic ExplosionEvent cancellable
  src/main/java/org/spongepowered/api/event/world/ExplosionEvent.java
Labels: system: event, version: 1.14

#2171 Rename fields again to match registry names.
  src/main/java/org/spongepowered/api/entity/attribute/type/AttributeTypes.java
Labels: system: entity, version: 1.14

#2173 UserManager#match now returns a Stream
  src/main/java/org/spongepowered/api/profile/GameProfileCache.java
  src/main/java/org/spongepowered/api/user/UserManager.java
Labels: version: 1.14

#2177 RegisterCommandEvent now acts on commands, not registrars (specifically)
  src/main/java/org/spongepowered/api/command/Command.java
  src/main/java/org/spongepowered/api/command/manager/CommandManager.java
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrar.java
  src/main/java/org/spongepowered/api/command/registrar/StandardCommandRegistrar.java
  src/main/java/org/spongepowered/api/event/lifecycle/RegisterCommandEvent.java
Labels: system: command, version: 1.14

#2181 Redo some of the Parameter.Key generics
  src/main/java/org/spongepowered/api/command/manager/CommandManager.java
  src/main/java/org/spongepowered/api/command/parameter/CommandContext.java
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Labels: system: command, version: 1.14

#2182 Revert "Update Guice to 4.2.3"
  build.gradle
Labels: version: 1.12

#2184 Add command flags
  src/main/java/org/spongepowered/api/command/Command.java
  src/main/java/org/spongepowered/api/command/parameter/ArgumentReader.java
  src/main/java/org/spongepowered/api/command/parameter/CommandContext.java
  src/main/java/org/spongepowered/api/command/parameter/managed/Flag.java
  src/main/java/org/spongepowered/api/command/parameter/managed/clientcompletion/ClientCompletionTypes.java
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrar.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Labels: system: command, version: 1.14

#2033 Add defined flags to CommandContext
  src/main/java/org/spongepowered/api/command/args/CommandContext.java
  src/main/java/org/spongepowered/api/command/args/CommandFlags.java
Labels: system: command, version: 1.12

#2183 Add exception handlers for the network channel.
  src/main/java/org/spongepowered/api/network/channel/Channel.java
  src/main/java/org/spongepowered/api/network/channel/ChannelExceptionHandler.java
Labels: system: network, version: 1.14

#2191 Create a SubjectProxy and separate CommandCause from CommandContext
  src/main/java/org/spongepowered/api/command/CommandCause.java
  src/main/java/org/spongepowered/api/command/parameter/CommandContext.java
  src/main/java/org/spongepowered/api/service/permission/SubjectProxy.java
Labels: version: 1.14

#2174 Use a double for damage related keys.
  src/main/java/org/spongepowered/api/data/Keys.java
  src/main/java/org/spongepowered/api/entity/FallingBlock.java
Labels: version: 1.14

#2190 Nuke DummyObjectProvider
  src/main/java/org/spongepowered/api/command/registrar/tree/ClientCompletionKeys.java
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
  src/main/java/org/spongepowered/api/service/economy/account/AccountDeletionResultTypes.java
  src/main/java/org/spongepowered/api/util/generator/dummy/DummyClassGenerator.java
  src/main/java/org/spongepowered/api/util/generator/dummy/DummyClassGeneratorProvider.java
  src/main/java/org/spongepowered/api/util/generator/dummy/DummyObjectProvider.java
  src/main/java/org/spongepowered/api/util/generator/dummy/package-info.java
  src/test/java/org/spongepowered/api/util/catalog/DummyCatalogProviderTest.java
  src/test/java/org/spongepowered/api/util/catalog/DummyClassGeneratorProviderTest.java
  src/test/java/org/spongepowered/api/util/catalog/VillagerType.java
  src/test/java/org/spongepowered/api/util/catalog/package-info.java
Labels: version: 1.14

#2189 Remove the concept of read-only orders
  src/main/java/org/spongepowered/api/event/Order.java
Labels: system: event, version: 1.14

#2194 Add ability to programmatically create selectors
  src/main/java/org/spongepowered/api/CatalogTypes.java
  src/main/java/org/spongepowered/api/command/selector/Selector.java
  src/main/java/org/spongepowered/api/command/selector/SelectorSortAlgorithm.java
  src/main/java/org/spongepowered/api/command/selector/SelectorSortAlgorithms.java
  src/main/java/org/spongepowered/api/command/selector/SelectorType.java
  src/main/java/org/spongepowered/api/command/selector/SelectorTypes.java
  src/main/java/org/spongepowered/api/entity/selector/Argument.java
  src/main/java/org/spongepowered/api/entity/selector/ArgumentHolder.java
  src/main/java/org/spongepowered/api/entity/selector/ArgumentTypes.java
  src/main/java/org/spongepowered/api/entity/selector/Selector.java
  src/main/java/org/spongepowered/api/entity/selector/package-info.java
  src/main/java/org/spongepowered/api/util/Range.java
Labels: system: command, version: 1.14
