Repository SpongePowered/SpongeAPI, pull requests merged in 2020-08, with the labels that each got.

#2204 Add MovementTypes#CHORUS_FRUIT
  src/main/java/org/spongepowered/api/event/cause/entity/MovementTypes.java
Labels: version: 1.14

#2199 Define some common parameters
  build.gradle.kts
  src/main/java/org/spongepowered/api/command/parameter/CommonParameters.java
Labels: api: 8, system: command

#2207 Remove unused dependencies
  build.gradle.kts
  src/main/java/org/spongepowered/api/util/Color.java
  src/main/java/org/spongepowered/api/util/Tuple.java
  src/main/java/org/spongepowered/api/util/generator/GeneratorUtils.java
  src/main/java/org/spongepowered/api/util/generator/package-info.java
Labels: api: 8

#2202 Deprecate unused elements of the KickPlayerEvent
  src/main/java/org/spongepowered/api/event/entity/living/humanoid/player/KickPlayerEvent.java
Labels: api: 7

#2210 Move ban classes to ban package
  src/main/java/org/spongepowered/api/CatalogTypes.java
  src/main/java/org/spongepowered/api/event/network/BanIpEvent.java
  src/main/java/org/spongepowered/api/event/network/PardonIpEvent.java
  src/main/java/org/spongepowered/api/event/user/BanUserEvent.java
  src/main/java/org/spongepowered/api/event/user/PardonUserEvent.java
  src/main/java/org/spongepowered/api/service/ban/Ban.java
  src/main/java/org/spongepowered/api/service/ban/BanService.java
  src/main/java/org/spongepowered/api/service/ban/BanType.java
  src/main/java/org/spongepowered/api/service/ban/BanTypes.java
  src/main/java/org/spongepowered/api/util/ban/BanType.java
Labels: api: 8

#2208 Use gradle wrapper all
  gradle/wrapper/gradle-wrapper.properties
Labels: api: 8

#2211 Change GameProfileManager method signature to return a map
  src/main/java/org/spongepowered/api/profile/GameProfileManager.java
Labels: api: 8

#2212 Add Keys#SLEEP_TIMER
  src/main/java/org/spongepowered/api/data/Keys.java
Labels: api: 8

#2144 [API-8] Add missing Living value accessors
  src/main/java/org/spongepowered/api/entity/living/Living.java
Labels: api: 8

#2209 Remove EconomyService#deleteAccount default implementation
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
  src/main/java/org/spongepowered/api/service/economy/account/AccountDeletionResultTypes.java
Labels: api: 8

#2205 1.15
  src/main/java/org/spongepowered/api/block/BlockTypes.java
  src/main/java/org/spongepowered/api/block/entity/Beehive.java
  src/main/java/org/spongepowered/api/block/entity/BlockEntityTypes.java
  src/main/java/org/spongepowered/api/effect/particle/ParticleTypes.java
  src/main/java/org/spongepowered/api/effect/sound/SoundTypes.java
  src/main/java/org/spongepowered/api/entity/EntityTypes.java
  src/main/java/org/spongepowered/api/entity/living/animal/Bee.java
  src/main/java/org/spongepowered/api/item/ItemTypes.java
  src/main/java/org/spongepowered/api/item/inventory/ContainerTypes.java
  src/main/java/org/spongepowered/api/world/gamerule/GameRules.java
Labels: api: 8

#2215 Add Audiences#withPermission
  src/main/java/org/spongepowered/api/adventure/Audiences.java
Labels: api: 8

#2221 Add method to send updated command tree to a player
  src/main/java/org/spongepowered/api/command/manager/CommandManager.java
Labels: api: 8, system: command

#2220 Add an API method to access the Minecraft DataVersion
  src/main/java/org/spongepowered/api/MinecraftVersion.java
Labels: api: 8
