Repository SpongePowered/SpongeAPI, pull requests merged in 2020-12, with the labels that each got.

#2269 Remove AABB implementation from the API
  src/main/java/org/spongepowered/api/util/AABB.java
  src/main/java/org/spongepowered/api/world/volume/entity/ReadableEntityVolume.java
  src/test/java/org/spongepowered/api/util/AABBTest.java
Labels: api: 8

#2265 Add keys for data from client settings
  src/main/java/org/spongepowered/api/data/Keys.java
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Labels: api: 8

#2262 Add missing locked field in Score class
  src/main/java/org/spongepowered/api/scoreboard/Score.java
Labels: api: 7

#2278 enhance InteractEvents [API8]
  src/main/java/org/spongepowered/api/event/action/InteractEvent.java
  src/main/java/org/spongepowered/api/event/block/InteractBlockEvent.java
  src/main/java/org/spongepowered/api/event/entity/InteractEntityEvent.java
  src/main/java/org/spongepowered/api/event/item/inventory/InteractItemEvent.java
Labels: api: 8, system: event
