Repository SpongePowered/SpongeAPI, pull requests merged in 2020-11, with the labels that each got.

#2240 Add MANY_GAME_PROFILES parameter, repurpose GAME_PROFILE to only return one.
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/CatalogedValueParameters.java
Labels: api: 8, system: command

#2242 Add missing triggers
  src/main/java/org/spongepowered/api/advancement/criteria/trigger/Triggers.java
Labels: api: 8

#2243 Add missing locked field in Score class
  src/main/java/org/spongepowered/api/scoreboard/Score.java
Labels: api: 8

#2244 Genericize Palettes
  src/main/java/org/spongepowered/api/state/State.java
  src/main/java/org/spongepowered/api/world/BlockChangeFlag.java
  src/main/java/org/spongepowered/api/world/schematic/Palette.java
  src/main/java/org/spongepowered/api/world/schematic/PaletteType.java
  src/main/java/org/spongepowered/api/world/schematic/PaletteTypes.java
Labels: api: 8

#2193 API additions + changes for Configurate 4
  build.gradle.kts
  src/main/java/org/spongepowered/api/ResourceKey.java
  src/main/java/org/spongepowered/api/advancement/criteria/trigger/Trigger.java
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrar.java
  src/main/java/org/spongepowered/api/config/ConfigManager.java
  src/main/java/org/spongepowered/api/config/ConfigRoot.java
  src/main/java/org/spongepowered/api/config/DefaultConfig.java
  src/main/java/org/spongepowered/api/data/DataProvider.java
  src/main/java/org/spongepowered/api/data/DataRegistration.java
  src/main/java/org/spongepowered/api/data/ImmutableDataProviderBuilder.java
  src/main/java/org/spongepowered/api/data/Key.java
  src/main/java/org/spongepowered/api/data/MutableDataProviderBuilder.java
  src/main/java/org/spongepowered/api/data/persistence/DataQuery.java
  src/main/java/org/spongepowered/api/data/persistence/DataStore.java
  src/main/java/org/spongepowered/api/data/persistence/DataTranslator.java
  src/main/java/org/spongepowered/api/data/persistence/DataTranslators.java
  src/main/java/org/spongepowered/api/event/EventContextKey.java
  src/main/java/org/spongepowered/api/event/EventManager.java
  src/main/java/org/spongepowered/api/event/GenericEvent.java
  src/main/java/org/spongepowered/api/event/lifecycle/StartingEngineEvent.java
  src/main/java/org/spongepowered/api/statistic/StatisticCategory.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
  src/main/java/org/spongepowered/api/world/gamerule/GameRule.java
  src/test/java/org/spongepowered/api/event/SpongeEventFactoryTest.java
Labels: api: 8

#2219 States cannot be cataloged so a backup system.
  src/main/java/org/spongepowered/api/block/BlockSnapshot.java
  src/main/java/org/spongepowered/api/block/BlockState.java
  src/main/java/org/spongepowered/api/block/BlockStateMatcher.java
  src/main/java/org/spongepowered/api/data/persistence/DataTranslators.java
  src/main/java/org/spongepowered/api/fluid/FluidState.java
  src/main/java/org/spongepowered/api/state/State.java
  src/main/java/org/spongepowered/api/state/StateMatcher.java
Labels: api: 8

#2261 Add Keys#CUSTOM_MODEL_DATA
  src/main/java/org/spongepowered/api/data/Keys.java
Labels: api: 8, system: data
