Repository SpongePowered/SpongeAPI, pull requests merged in 2020-10, with the labels that each got.

#2234 Add getWorldUUID to SaveChunkEvent. Fixes #2233
  src/main/java/org/spongepowered/api/event/world/chunk/SaveChunkEvent.java
Labels: api: 7, system: world

#2238 API8 Advancements
  src/main/java/org/spongepowered/api/advancement/Advancement.java
  src/main/java/org/spongepowered/api/advancement/AdvancementTree.java
Labels: api: 8

#2248 Player has an identity
  src/main/java/org/spongepowered/api/entity/living/player/Player.java
  src/main/java/org/spongepowered/api/entity/living/player/PlayerChatRouter.java
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
  src/main/java/org/spongepowered/api/profile/GameProfile.java
Labels: api: 8

#2250 API8 DataStores
  src/main/java/org/spongepowered/api/data/DataProvider.java
  src/main/java/org/spongepowered/api/data/DataRegistration.java
  src/main/java/org/spongepowered/api/data/Key.java
  src/main/java/org/spongepowered/api/data/persistence/DataStore.java
  src/main/java/org/spongepowered/api/world/volume/entity/MutableEntityVolume.java
Labels: api: 8, system: data
