Repository SpongePowered/SpongeAPI, pull requests merged in 2021-05, with the labels that each got.

#2347 Add CommandCompletion and associated builder
  src/main/java/org/spongepowered/api/command/Command.java
  src/main/java/org/spongepowered/api/command/CommandCompletion.java
  src/main/java/org/spongepowered/api/command/manager/CommandManager.java
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueCompleter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParameterModifier.java
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrar.java
Labels: api: 8, system: command

#2348 Rename ClientCompletionKey and ClientSuggestionProvider
  src/main/java/org/spongepowered/api/command/Command.java
  src/main/java/org/spongepowered/api/command/registrar/tree/ClientCompletionKeys.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandCompletionProvider.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandCompletionProviders.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandTreeNode.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandTreeNodeType.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandTreeNodeTypes.java
  src/main/java/org/spongepowered/api/registry/RegistryTypes.java
Labels: api: 8, system: command

#2314 Remove BanService#hasBan and BanService#isBanned
  src/main/java/org/spongepowered/api/service/ban/BanService.java
Labels: api: 8, type: enhancement

#2346 Move timings to it's own library
  src/main/java/co/aikar/timings/Timing.java
  src/main/java/co/aikar/timings/Timings.java
  src/main/java/co/aikar/timings/TimingsFactory.java
  src/main/java/co/aikar/timings/package-info.java
Labels: api: 8, status: needs review, status: needs testing

#2272 Update Chunk API elements
  src/main/java/org/spongepowered/api/scheduler/ScheduledUpdateList.java
  src/main/java/org/spongepowered/api/util/BlockReaderAwareMatcher.java
  src/main/java/org/spongepowered/api/world/chunk/Chunk.java
  src/main/java/org/spongepowered/api/world/chunk/ChunkStates.java
  src/main/java/org/spongepowered/api/world/chunk/ProtoChunk.java
  src/main/java/org/spongepowered/api/world/generation/PrimitiveChunk.java
Labels: api: 8

#2349 CollideBlockEvents
  src/main/java/org/spongepowered/api/event/block/CollideBlockEvent.java
Labels: api: 8, system: event, type: enhancement

#2352 Purge the TypeTokens constant holder class
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/data/Key.java
  src/main/java/org/spongepowered/api/data/Keys.java
  src/main/java/org/spongepowered/api/event/EventContextKeys.java
  src/main/java/org/spongepowered/api/util/TypeTokens.java
Labels: api: 8, system: data

#2340 API8 - Improve PlayerChatEvent
  src/main/java/org/spongepowered/api/adventure/Audiences.java
  src/main/java/org/spongepowered/api/entity/living/player/PlayerChatFormatter.java
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
  src/main/java/org/spongepowered/api/event/message/MessageChannelEvent.java
  src/main/java/org/spongepowered/api/event/message/PlayerChatEvent.java
Labels: api: 8, status: needs review, status: needs testing, type: feature request

#2330 Add ParticleOptions.SCALE back to the API
  src/main/java/org/spongepowered/api/effect/particle/ParticleEffect.java
  src/main/java/org/spongepowered/api/effect/particle/ParticleOptions.java
Labels: api: 8, status: needs review, status: needs testing

#2359 World Borders
  src/main/java/org/spongepowered/api/entity/living/player/server/ServerPlayer.java
  src/main/java/org/spongepowered/api/event/world/ChangeWorldBorderEvent.java
  src/main/java/org/spongepowered/api/world/World.java
  src/main/java/org/spongepowered/api/world/WorldBorder.java
  src/main/java/org/spongepowered/api/world/border/WorldBorder.java
  src/main/java/org/spongepowered/api/world/server/storage/ServerWorldProperties.java
  src/main/java/org/spongepowered/api/world/storage/WorldProperties.java
  src/main/java/org/spongepowered/api/world/volume/game/Region.java
Labels: api: 8

#2065 API 8: Tweaks to permissions API
  src/main/java/org/spongepowered/api/command/Command.java
  src/main/java/org/spongepowered/api/command/CommandCause.java
  src/main/java/org/spongepowered/api/service/ServiceProvider.java
  src/main/java/org/spongepowered/api/service/context/Context.java
  src/main/java/org/spongepowered/api/service/context/ContextCalculator.java
  src/main/java/org/spongepowered/api/service/context/ContextService.java
  src/main/java/org/spongepowered/api/service/context/Contextual.java
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
  src/main/java/org/spongepowered/api/service/economy/account/Account.java
  src/main/java/org/spongepowered/api/service/permission/MemorySubjectData.java
  src/main/java/org/spongepowered/api/service/permission/NodeTree.java
  src/main/java/org/spongepowered/api/service/permission/PermissionDescription.java
  src/main/java/org/spongepowered/api/service/permission/PermissionService.java
  src/main/java/org/spongepowered/api/service/permission/Subject.java
  src/main/java/org/spongepowered/api/service/permission/SubjectCollection.java
  src/main/java/org/spongepowered/api/service/permission/SubjectData.java
  src/main/java/org/spongepowered/api/service/permission/SubjectProxy.java
  src/main/java/org/spongepowered/api/service/permission/SubjectReference.java
  src/main/java/org/spongepowered/api/service/permission/TransferMethod.java
  src/test/java/org/spongepowered/api/service/permission/NodeTreeTest.java
Labels: api: 8, system: permission
