Repository SpongePowered/SpongeAPI, pull requests merged in 2021-07, with the labels that each got.

#2271 Add DamageType.Builder
  src/main/java/org/spongepowered/api/event/cause/entity/damage/DamageType.java
Labels: api: 8, status: needs updating

#2378 Make UserManager load users async
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/ResourceKeyedValueParameters.java
  src/main/java/org/spongepowered/api/entity/living/player/User.java
  src/main/java/org/spongepowered/api/event/EventContextKeys.java
  src/main/java/org/spongepowered/api/user/UserManager.java
Labels: api: 8, priority: high

#2379 Add an event to be fired when the game is performing its final shutdown
  src/main/java/org/spongepowered/api/event/lifecycle/StoppedGameEvent.java
Labels: api: 8, system: plugin

#2376 Remove the restriction that listener methods must be public
  src/ap/java/org/spongepowered/plugin/processor/ListenerProcessor.java
  src/main/java/org/spongepowered/api/event/EventManager.java
  src/main/java/org/spongepowered/api/event/Listener.java
Labels: api: 9, system: event, type: enhancement

#2370 Keys.INACCURACY
  src/main/java/org/spongepowered/api/data/Keys.java
Labels: api: 8, system: data, type: feature request

#2381 Adjustments to Chunk and World interfaces
  src/main/java/org/spongepowered/api/event/cause/entity/SpawnTypes.java
  src/main/java/org/spongepowered/api/event/world/chunk/ChunkEvent.java
  src/main/java/org/spongepowered/api/world/World.java
  src/main/java/org/spongepowered/api/world/WorldLike.java
  src/main/java/org/spongepowered/api/world/chunk/Chunk.java
  src/main/java/org/spongepowered/api/world/chunk/ChunkState.java
  src/main/java/org/spongepowered/api/world/chunk/ChunkStates.java
  src/main/java/org/spongepowered/api/world/chunk/ProtoChunk.java
  src/main/java/org/spongepowered/api/world/chunk/WorldChunk.java
  src/main/java/org/spongepowered/api/world/generation/GenerationChunk.java
  src/main/java/org/spongepowered/api/world/generation/GenerationRegion.java
  src/main/java/org/spongepowered/api/world/server/ChunkManager.java
  src/main/java/org/spongepowered/api/world/server/ServerWorld.java
  src/main/java/org/spongepowered/api/world/server/TicketTypes.java
  src/main/java/org/spongepowered/api/world/storage/ChunkLayout.java
  src/main/java/org/spongepowered/api/world/volume/Volume.java
  src/main/java/org/spongepowered/api/world/volume/archetype/ArchetypeVolume.java
  src/main/java/org/spongepowered/api/world/volume/game/ChunkVolume.java
  src/main/java/org/spongepowered/api/world/volume/game/GenerationVolume.java
  src/main/java/org/spongepowered/api/world/volume/stream/VolumeElement.java
  src/main/java/org/spongepowered/api/world/volume/stream/VolumePositionTranslator.java
Labels: api: 8, system: world
