Repository SpongePowered/SpongeAPI, pull requests merged in 2021-06, with the labels that each got.

#2341 Make ServerLocation implement DataSerializable
  src/main/java/org/spongepowered/api/world/server/ServerLocation.java
Labels: api: 8, system: data, type: enhancement

#2322 Add TwoDimensionalPortal for teleport events
  src/main/java/org/spongepowered/api/event/EventContextKeys.java
  src/main/java/org/spongepowered/api/world/portal/TwoDimensionalPortal.java
Labels: api: 8, system: world

#2274 Start of a Chunk Manager
  src/main/java/org/spongepowered/api/registry/RegistryTypes.java
  src/main/java/org/spongepowered/api/world/server/ChunkManager.java
  src/main/java/org/spongepowered/api/world/server/ServerWorld.java
  src/main/java/org/spongepowered/api/world/server/Ticket.java
  src/main/java/org/spongepowered/api/world/server/TicketType.java
  src/main/java/org/spongepowered/api/world/server/TicketTypes.java
Labels: api: 8, status: needs review, status: needs testing, system: world

#2368 Allow the Registry Entry parameter to scan multiple registry holders.
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/VariableValueParameters.java
Labels: api: 8, system: command
