Repository SpongePowered/SpongeAPI, pull requests merged in 2021-04, with the labels that each got.

#2296 More command tweaks
  src/main/java/org/spongepowered/api/command/exception/ArgumentParseException.java
  src/main/java/org/spongepowered/api/command/parameter/ArgumentReader.java
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueCompleter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParameterModifier.java
  src/main/java/org/spongepowered/api/command/parameter/managed/ValueParser.java
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/ResourceKeyedValueParameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/VariableValueParameters.java
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrarType.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandTreeNode.java
Labels: api: 8, system: command

#2150 [API-8] Reroute BlockSnapshot#empty into a factory, and add misc missing javadocs
  src/main/java/org/spongepowered/api/block/BlockSnapshot.java
  src/main/java/org/spongepowered/api/block/entity/Bed.java
  src/main/java/org/spongepowered/api/block/entity/Bell.java
  src/main/java/org/spongepowered/api/block/entity/Conduit.java
  src/main/java/org/spongepowered/api/block/entity/Jigsaw.java
  src/main/java/org/spongepowered/api/block/entity/carrier/Barrel.java
  src/main/java/org/spongepowered/api/block/entity/carrier/Campfire.java
  src/main/java/org/spongepowered/api/block/entity/carrier/chest/TrappedChest.java
  src/main/java/org/spongepowered/api/block/entity/carrier/furnace/BlastFurnace.java
  src/main/java/org/spongepowered/api/block/entity/carrier/furnace/Furnace.java
  src/main/java/org/spongepowered/api/block/entity/carrier/furnace/Smoker.java
Labels: api: 8

#2326 Fixing minor typos in CommandRegistrar JavaDocs
  src/main/java/org/spongepowered/api/command/registrar/CommandRegistrar.java
Labels: api: 8, system: command, type: javadoc

#2327 Add operator parameter
  src/main/java/org/spongepowered/api/command/parameter/Parameter.java
  src/main/java/org/spongepowered/api/command/parameter/managed/operator/Operator.java
  src/main/java/org/spongepowered/api/command/parameter/managed/operator/Operators.java
  src/main/java/org/spongepowered/api/command/parameter/managed/standard/ResourceKeyedValueParameters.java
  src/main/java/org/spongepowered/api/registry/RegistryTypes.java
Labels: api: 8, status: needs testing, system: command

#2329 Fix range client completions
  src/main/java/org/spongepowered/api/command/registrar/tree/ClientCompletionKeys.java
Labels: api: 8, system: command, type: bug

#2332 Rename methods that don't do well without "get" to "findX/findXOrCreate"
  src/main/java/org/spongepowered/api/profile/GameProfileCache.java
  src/main/java/org/spongepowered/api/scheduler/Scheduler.java
  src/main/java/org/spongepowered/api/scoreboard/objective/Objective.java
  src/main/java/org/spongepowered/api/service/economy/EconomyService.java
  src/main/java/org/spongepowered/api/state/State.java
  src/main/java/org/spongepowered/api/state/StateContainer.java
Labels: api: 8

#2334 Add ClientSuggestionProvider to add client-based suggestions for things like biomes
  src/main/java/org/spongepowered/api/command/registrar/tree/ClientSuggestionProvider.java
  src/main/java/org/spongepowered/api/command/registrar/tree/ClientSuggestionProviders.java
  src/main/java/org/spongepowered/api/command/registrar/tree/CommandTreeNode.java
  src/main/java/org/spongepowered/api/registry/RegistryTypes.java
Labels: api: 8, system: command

#2337 build: Bump to gradle 7, accomodate changes in impl
  .checkstyle/checkstyle-suppressions.xml
  .checkstyle/checkstyle.xml
  .gitignore
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: api: 8

#2317 Add getter for effective plugin data collection state
  src/main/java/org/spongepowered/api/util/metric/MetricsConfigManager.java
Labels: api: 8, type: enhancement
