Repository SpongePowered/SpongeAPI, pull requests merged in 2021-03, with the labels that each got.

#2301 API8 ChunkEvent
  src/main/java/org/spongepowered/api/event/world/chunk/ChunkEvent.java
Labels: api: 8

#2306 Change TextComponent in MapDecoration Builder -> Component
  src/main/java/org/spongepowered/api/map/decoration/MapDecoration.java
Labels: api: 8

#2309 Add support for ResourceKey in advancement background
  src/main/java/org/spongepowered/api/advancement/Advancement.java
  src/main/java/org/spongepowered/api/advancement/AdvancementTree.java
Labels: api: 8, status: needs review, status: needs testing, type: enhancement

#2307 Add CompletableFutures to Ban/Whitelist Service
  src/main/java/org/spongepowered/api/service/ban/BanService.java
  src/main/java/org/spongepowered/api/service/whitelist/WhitelistService.java
Labels: api: 8, status: needs review, status: needs testing, type: enhancement

#2308 Remove Nameable interface from Trigger
  src/main/java/org/spongepowered/api/advancement/criteria/trigger/Trigger.java
Labels: api: 8, status: needs review, type: bug

#2311 Update Guice 4.1.0 -> 5.0.1
  build.gradle.kts
Labels: api: 8, system: plugin

#2323 Add missing throws to Favicon.Factory methods
  src/main/java/org/spongepowered/api/network/status/Favicon.java
Labels: api: 8, system: network, type: enhancement
